include README.md
include .gitignore
include *.yml
include eap_configuration.yml.j2
include .DS_Store
include .vscode/extensions.json
include devfile.yaml
include *.code-workspace
recursive-exclude .git *
recursive-include app *
recursive-include roles *
recursive-include collections *.yml
